/* Roboto-regular */

@font-face {
  font-family:"Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

/* Roboto-medium */

@font-face {
  font-family:"Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

/* Roboto-bold */

@font-face {
  font-family:"Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --light-grey: #EEEEEE;
  --light-red:#FB565A;
  --red:#E74246;
  --extra-red:#D7373B;
  --light-green:#00CA74;
  --green:#00BC6C;
  --extra-green:#00AA62;
  --light-yellow:#EFC84A;
  --yellow:#EAB534;
  --extra-yellow:#E5A722;
  --font-green:#01A25E;
  --font-color:#283136;
  --font-color-dark:#321F20;
  --font-color-extra:#666666;
  --basket-color: #A6A6A6;
  --extra-grey:#e1e1e1;
  --btn-color:#DFDFDF;
  --btn-extra-color:#D5D5D5;
  --nav-color:#4D4D4D;
  --bottom-font-grey:#444444;
}

/* Global */

body {
  font-family:"Roboto", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:var(--font-color);
  background-color: var(--basic-white);
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
}

/* Container */

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Main */

.main-header {
  background-color: var(--light-grey);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin-top: 49px;
}

.site-navigation {
  color:var(--basic-black);
  font-weight: 500px;
  line-height: 30px;
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
}

.site-navigation li {
  margin-left: 45px;
}

.basket {
  color:var(--basic-black);
  font-weight: 500px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 75px;
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.container h1 {
  display: none;
}

.preview {
  margin-top: 30px;
}

.preview .loud-phrase {
  color:var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider {
  
}

.button {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.services-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.services h3 {
  color:var(--basic-black);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.services h2 {
  display: none;
}

.about {
  display: flex;
  justify-content:space-between;
}

.about h2 {
  display: none;
}
.about-part1 {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}
.about-part2 {
  display: flex;
  flex-direction: column;
  margin-top: 121px;
}

.about .second-loud-phrase {
  color:var(--basic-black);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about .list {
  font-weight: 700;
  text-transform: uppercase;
}

.about .second-list {
  color:var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
}

.about-list2 {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  margin-top: -30px;
}

.about-list2 .number {
  color:var(--basic-black);
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.companies h2 {
  display: none;
}

.companies-logo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 121px 183px 126px 172px;
}

/*Main footer*/

.main-footer {
  
}

.contacts {
  display: none;
}

.little-logo {
  display: none;
}

.map {
  margin: auto;
}

.contacts h3 {
  color:var(--basic-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts p {
  color:var(--font-color-extra);
  line-height: 18px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  margin-left: 140px;
  margin-top: 65px;
}

.bottom-footer {
  color: var(--bottom-font-grey);
  line-height: 22px;
  display: flex;
  flex-direction: column;
  margin-right: 440px;
}

.bottom-footer .first-p {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.second-p {
  margin-top: -30px;
  margin-bottom: 70px;
}

/* For catalog */

.container-catalog {
  color: var(--font-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.content-catalog {
  color: var(--basic-black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}
.sort-wrapper {
  display: flex;
}

.aside-check {
  
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.image-stand {
  display: grid;
  grid-template-columns:min-content min-content ;
  justify-content: center;
  align-content: start;
  column-gap: 42px;
  row-gap: 30px;
  margin-top: -500px;
  margin-right: -500px;
}

.pagination {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.price, .grid, .sort, .features, .sedona {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.wrapper {
  color: var(--font-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.sort-wrapper {
  color: var(--basic-black);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.inf-site {
  color: var(--font-color-extra);
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

a {
  text-decoration: none;
}